@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Phudu", monospace;
    outline: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("background.svg");
    background-size: cover;
    background-position: center;
}

#container{
    width: 300px;
    height: 400px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: rgba(205, 205, 205, .1);
    backdrop-filter: blur(5px);
    animation: scale-in .7s ease 0s 1;
}
#container h1{
    width: 100%;
    height: fit-content;
    font-size: 30px;
    color: #101010;
    text-align: center;
    color: #fff;
}
#container input{
    width: calc(100% - 34px);
    height: 40px;
    border-radius: 100px;
    background-color: rgba(205, 205, 205, .1);
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    padding: 0 15px;
    color: #fff;
    font-size: 15px;
    font-family: "Lato";
}
#container input::placeholder{
    color: rgba(255, 255, 255, .9);
}
#container #log{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    transition: .3s ease-in-out;
}
#container #submit{
    width: calc(100% - 34px);
    height: 40px;
    border-radius: 100px;
    background-color: rgba(205, 205, 205, .1);
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    padding: 0 15px;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#container #submit:hover{
    background-color: rgba(205, 205, 205, .3);
}
#container #submit:active{
    background-color: rgba(205, 205, 205, .5);
}
#container #submit #main{
    width: auto;
    height: auto;
    margin: 0 4px;
}
#container #submit #arrow{
    width: auto;
    height: auto;
    margin: 0 4px;
    animation: coast 2s ease-in-out 0s infinite;
}
#container p{
    width: 100%;
    height: fit-content;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

@keyframes scale-in{
    0%{
        transform: scale(0.75);
        opacity: 0;
    }
}
@keyframes coast{
    0%{
        transform: translateX(-3px);
    }
    50%{
        transform: translateX(3px);
    }
    100%{
        transform: translateX(-3px);
    }
}